atomicwrites==1.4.0
attrs==19.3.0
beautifulsoup4==4.9.3
certifi==2020.4.5.1
chardet==3.0.4
colorama==0.4.3
coverage==5.1
coveralls==2.0.0
decorator==4.4.2
docopt==0.6.2
fake-useragent==0.1.11
idna==2.9
importlib-metadata==1.6.0
iniconfig==1.1.1
lxml==4.9.1
more-itertools==8.2.0
packaging==20.3
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==5.4.2
pytest-cov==2.8.1
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
urllib3==1.26.5
validators==0.18.2
wcwidth==0.2.5
zipp==3.4.1
